body {
  font-family: 'Times New Roman', Times, serif;
}

.container {
  margin: 10px auto;
  border-radius: 8px;
  display: flex;
  padding: 0px 20px;
  font-size: x-large;
}

.header {
  background-color: black;
  color: white;
  border-radius: 0px 0px;
  margin: 0px auto;
  height: 100px;
  font-weight: bolder;
  align-items: center;
}

.header-title {
  width: 20vw;
}

.right-aligned-header-options-container {
  width: 100%;
  display: flex;
  flex-flow:row-reverse;
}

.new-post-button {
  border: solid white;
  padding: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.new-post-button:hover {
  padding: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.body {
  justify-content: center;
  flex-flow: row wrap;
  width: 85vw;
  padding: 20px 20px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

.article {
  width: 50vw;
  margin: 10px auto;
}

.article-title {
  font-size: 50px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.article-subtitle {
  font-size: large;
  font-weight: bold;
  font-family: 'Arial Narrow Bold', sans-serif;
  margin: 5px 0px;
}

.article-date {
  margin: 0px;  
  font-family: Arial, Helvetica, sans-serif;
}

.article-author {
  margin: 20px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.article-image {
  display: block;
  width: 700px;
  margin: 20px auto;
}

.article-content {
  font-size: 20px;
}

.article-box {
  flex: 0 0 auto;
  background-color: black;
  color: white;
  justify-content: center;
  border-radius: 5px;
  margin: 5px 5px;
  min-width: 400px;
  width: 25vw;
  height: 400px;
}

.article-box-title {
  font-family: 'Arial Narrow Bold', sans-serif;
  font-style: bold;
  font-size: 20px;
  margin: 10px;
}

.article-box-subtitle {
  margin: 10px 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.article-box-date {
  margin: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.comment-author {
  padding: 5px 10px 0px 10px;
  width: 30%;
  font-size: 14px;
}

.comment-date {
  padding: 5px 10px 0px 10px;
  font-size: 14px;
}

.comment-header {
  width: 100%;
  display: flex;
}

.comment-content {
  width: 100%;
  padding: 10px 10px 10px 20px;
  font-size: 14px;
}

.comment-box {
  margin: -1px 0px;
  width: 50vw;
  border-top: solid rgb(201, 201, 201);
  border-bottom: solid rgb(201, 201, 201);
  border-width: thin;
}

.comment-box .reply-button {
  opacity: 0;
}

.comment-box:hover .reply-button {
  opacity: 1;
}

.comments-header {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
}

.reply-button {
  padding: 2px 0 0 0;
  margin: 2px 0 0 0;
  height: 20px;
  width: 40px;
  font-size: 13px;
}

.create-comment-container {
  display: flex;
}

.create-comment-name-container {
  width: 40%;
  padding: 10px;
}

.create-comment-content-container {
  width: 60%;
  padding: 10px;
}

.name-text-imput {
  width: 100%;
}

.content-text-input {
  width: 100%;
}

.post-comment-button {
  width: 20%;
  margin: 10px;
  font-size: 18px;
}

.cancel-reply-button {
  width: 20%;
  margin: 10px;
  font-size: 18px;
}

.linkbox {
  height: 100%;
}

.cropped-image {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.article-intro-statement {
  width: 85vw;
  margin: 20px auto 0px auto;
  font-style: bold;
  text-align: center;
  font-size: x-large;
}

.create-article-container {
  width: 80vw;
  margin: 10px auto;
}

.create-article-publish-button {
  width: 100px;
  height: 50px;
  margin: 10px;
}

.create-article-cancel-button {
  width: 100px;
  height: 50px;
  margin: 10px;
  color: black;
  text-decoration: none;
}

.create-article-cancel-button {
  text-decoration: none;
}

.create-article-content-input {
  width: 50vw;
  height: 300px;
}

.custom-button {
  border: solid black;
  display: flex;
  align-items:center;
  justify-content:center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.custom-button:hover {
  background-color: black;
  color: white;
}

.create-article-button-container {
  display: flex;
}

a { color:white }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: none; }
