body {
  font-family: 'Times New Roman', Times, serif;
}

.container {
  margin: 10px auto;
  border-radius: 8px;
  background-color: black;
  color: white;
  display: flex;
  padding: 0px 20px;
  font-size: x-large;
}

.header {
  border-radius: 0px 0px;
  margin: 0px auto;
  height: 100px;
  font-weight: bolder;
  align-items: center;
}

.body {
  height: 600px;
  width: 75vw;
  flex-direction: column;
  padding: 20px 20px;
  font-size: large;
}